{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Lámpara</title>
</head>
<body>

    <div class="contenedor-primario">
        <h2>Lámpara</h2>
        <div class="contenedor-slide">
            <h2 class="texto-apagado">Apagada</h2>
            <div onclick="slideLampara()" class="slide-off"></div>
        </div>
    </div>

    <script src="{% static 'app/js/control.js' %}" ></script>
    
</body>
</html>